<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello my name is <strong><%= @sender.name %></strong>. 
    </p>
    <p>
      <%= @message %>
    </p>
    <p>
      This is email for my all students
    </p>
  </body>
</html>