<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello, I'm <strong><%= @sender.name %></strong>, your student
    </p>
    <p>
      <%= @message %>
    </p>
    <p>
      Thank you for everything!
    </p>
  </body>
</html>